Repository lfn-cnti/bestpractices, pull requests merged in 2021-09, with the labels that each got.

#190 Alignment and clarification of the mission statement
  charter.md
Labels: documentation

#175 New use case: Onboarding of CNFs to the platform
  use-case/0004-UC-onboarding-of-CNF-to-the-CSP-platform.md
Labels: use case, use-case

#192 Fix spellings and linting CI issues
  .github/.wordlist.txt
  use-case/0004-UC-onboarding-of-CNF-to-the-CSP-platform.md
Labels: use-case
