Repository lfn-cnti/bestpractices, pull requests merged in 2021-08, with the labels that each got.

#184 reword test plan
  cbpps/NNNN-cbpp-template.md
Labels: best-practice

#183 Add a format version to the CBPP template
  cbpps/NNNN-cbpp-template.md
Labels: best-practice

#171 Update glossary.md
  doc/glossary.md
Labels: documentation

#188 Add pyspelling tool for spell checking
  .github/.wordlist.txt
  .github/workflows/spell.yml
  .gitignore
  .spellcheck.yml
  README.md
  cbpps/0001-cnf-best-practice-proposal-process.md
  charter.md
  doc/README.md
  tox.ini
  use-case/0002-UC-bgp-enterprise/README.md
  use-case/0003-UC-stateful-cnf/README.md
Labels: documentation, minor, linter-spelling-grammar, best-practice

#187 Fix linting issues
  .github/workflows/linter.yml
  cbpps/NNNN-cbpp-template.md
  doc/glossary.md
Labels: documentation, best-practice
