Repository lfn-cnti/bestpractices, pull requests merged in 2021-04, with the labels that each got.

#104 Renaming conformance definition proposals to best practice proposals
  README.md
  cbpps/0001-cnf-best-practice-proposal-process.md
  cbpps/NNNN-cbpp-template.md
  cbpps/README.md
  ccdps/README.md
  charter.md
  doc/README.md
  doc/best_cnf_dev.md
  use-case/NNNN-UC-template.md
Labels: documentation

#134 Expanding values
  charter.md
Labels: governance

#144 Using individual names + company for interested parties
  interested-parties.md
Labels: documentation, governance

#131 Acceptance process delegation for most items + exceptions
  CONTRIBUTING.md
  GOVERNANCE.md
Labels: governance

#145 removing tech leads
  GOVERNANCE.md
Labels: governance
