Repository lfn-cnti/bestpractices, pull requests merged in 2021-05, with the labels that each got.

#157 Expand contributing documentation
  CONTRIBUTING.md
  use-case/README.md
Labels: documentation

#164 minor fix for linting
  GOVERNANCE.md
Labels: bug, minor

#95 New Use Case about CNF behavior in respect to infrastructure lifecycle events
  use-case/0001-UC-lifecycle-of-infrastructure-where-CNF-is-running.md
Labels: use case

#170 fix linter errors in 0001-UC-lifecycle
  doc/glossary.md
  use-case/0001-UC-lifecycle-of-infrastructure-where-CNF-is-running.md
Labels: linter-spelling-grammar, minor
