Repository lfn-cnti/bestpractices, pull requests merged in 2022-08, with the labels that each got.

#222 Fix links reported by CI
  cbpps/0002-no-root-in-containers.md
  doc/glossary.md
Labels: documentation, best-practice

#224 fixing build lint errors
  CONTRIBUTING.md
  GOVERNANCE.md
  cbpps/0002-no-root-in-containers.md
  cbpps/NNNN-cbpp-template.md
  doc/best_cnf_dev.md
Labels: documentation, best-practice

#221 Document the process to publish a CNF best practice
  .github/.wordlist.txt
  .gitignore
  CONTRIBUTING.md
  cbpps/README.md
  cbpps/cnf_best_practice_process.md
Labels: documentation, best-practice

#208 Best practice compliance recording
  cbpps/0003-exceptions.md
  cbpps/README.md
Labels: best-practice

#203 Create air gapped environments user stories
  user-stories/air-gapped-environments.md
Labels: good first issue, user story

#225 Add F5 rep to interested parties
  interested-parties.md
Labels: documentation

#226 Implement latest template in existing CBPPs
  .github/.wordlist.txt
  cbpps/0001-cnf-best-practice-proposal-process.md
  cbpps/0002-no-root-in-containers.md
  cbpps/0003-exceptions.md
Labels: best-practice
