Repository lfn-cnti/bestpractices, pull requests merged in 2023-09, with the labels that each got.

#268 Fix CI issues
  .github/.wordlist.txt
  README.md
  doc/cbpps/0001-cnf-best-practice-proposal-process.md
  events/.telco-community-gathering-kubecon-eu-20230418.md.swp
  events/README.md
  events/telco-community-gathering-kubecon-eu-20230418.md
Labels: documentation, best-practice

#269 Single concern per container sec goal update js
  doc/cbpps/0005-single-concern-per-container.md
Labels: best-practice

#270 fixes with markdownlint tool
  doc/cbpps/0005-single-concern-per-container.md
Labels: best-practice

#267 Create 0005-single-concern-per-container.md
  doc/cbpps/0005-single-concern-per-container.md
Labels: best practice proposal, best-practice
